/.idea/

# Package Files #
/*.jar
/*.war
/*.log

# gwt caches and compiled units #
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/gatekeeper/

#compilation logs
.gwt/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/

# Local configuration files
build-dev.properties
/germinate-gatekeeper.iml

# Files that are created during the compilation process
/war/WEB-INF/lib-temp/